@import "../../styles/colors.css";
@import "../../styles/variables.css";

.container {
  overflow-y: auto;
  overflow-x: hidden;

  & .logo-container {
    color:  var(--brand-primary);
    padding: 1rem;
    background-color: white;
    border-bottom: 1px solid var(--border-color);

    & .brand-name {
      font-size: 20px;
      vertical-align: middle;
    }

    & .logo {
      font-size: 36px;
      padding-right: 0.25rem;
      vertical-align: middle;
    }
  }

  & :global(.ant-tree) {
    & li {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      & :global(.ant-tree-node-content-wrapper) {
        width: 100%;
        display: inline;
      }
    }
  }
}
