@import "../../styles/colors.css";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.highlight {
  background-color: #e0eefc;
  color: var(--brand-primary);
}

.upload-icon {
  font-size: 120px;
  color: var(--brand-primary);
  padding: 1rem;
}

.button {
  width: 100%;
}
