@import "../../styles/colors.css";

.container {
    overflow: auto;

    & .logo-container {
        color:  var(--brand-primary);
        padding: 1rem;

        & .brand-name {
            font-size: 24px;
            vertical-align: middle;
        }

        & .logo {
            font-size: 48px;
            padding-right: 0.25rem;
            position: relative;
            top: 10px;
        }
    }

    .file-tree {
        padding: 2em;
    }
}
