.card-content {
  display: flex;
  flex-direction: column;
}

.title-row {
  display: flex;

  & .title {
    flex: 1;
  }

  & .title-buttons {
    flex: 0 0 auto;
  }
}

.files {
  flex: 0 0 150px;
  margin: 1em 0;
  overflow-y: auto;
}

.add-row {
  flex: 0 0 auto;
  border: 1px dashed var(--border-color);
  padding: 0.5em;
  display: flex;

  & .title {
    flex: 1;
  }

  & .associate-button {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
  }
}

.file-row {
  padding: 0.5em;
  display: flex;

  &:hover {
    cursor: pointer;
    background-color: aliceblue;
  }

  & .file-name {
    flex: 1;
  }

  & .delete-button {
    flex: 0 0 auto;
  }
}

.file-icon {
  margin-right: 1em;
}
