.container {
    overflow-y: auto;

    &.empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.group {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em 0;
    width: 100%;
}

.divider:global(.ant-divider-horizontal.ant-divider-with-text) {
    color: #c8cbd1;
}
