.container {
    overflow-y: auto;

    &.empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.label {
    font-weight: 700;
}
