.container {
  padding: 3em;

  & .form-prompt {
    font-size: 22px;
  }

  & .form {
    padding-top: 1em;
    height: 100%;
  }

  & .button {
    position: fixed;
    bottom: 3em;
    right: 3em;
  }
}
