@import "../../styles/layout.css";
@import "../../styles/variables.css";

.container {
  height: 100%;
  width: 100%;
  display: flex;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;

  & .folder-tree {
    flex: 0 0 350px;
    box-shadow: var(--box-shadow)
  }

  & .main-content {
    width: 100%;
    height: 100%;
    padding: var(--main-content-padding);
  }
}
