@import "../../styles/colors.css";
@import "../../styles/layout.css";
@import "../../styles/variables.css";

.container {
  height: 100%;
  width: 100%;
  display: flex;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  overflow: hidden;

  & .folder-tree {
    flex: 0 0 350px;
    box-shadow: var(--box-shadow)
  }

  & .main-content {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    width: 100%;
    padding: var(--main-content-padding);
  }
}
