.container {
    height: 100%;
    display: flex;
    font-size: 16px;

    & .folder-tree {
        flex-basis: 400px;
        //box-shadow: 4px 0 6px 1px rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 10;
    }

    & .files-to-upload {
        flex: 1;
    }

    & .metadata-entry {
        flex: 1;
    }
}
