.container {
    height: 100%;
    display: flex;
    font-size: 16px;

    & .folder-tree {
        flex: 1;
    }

    & .files-to-upload {
        flex: 1;
    }

    & .metadata-entry {
        flex: 1;
    }
}
